* {
    /* "otf-font-awesome" is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #cccccc;
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

window#waybar.hidden {
    /*opacity: 0.2;*/
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    /*background-color: #3f3f3f;*/
}

window#waybar.chromium {
    /*background-color: #000000;*/
    /*border: none;*/
}


/* default items ************************************************************************************** */
#backlight,
#battery,
#clock,
#cpu,
#custom-gear,
#custom-lock,
#custom-logoff,
#custom-reboot,
#custom-shutdown,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#network,
#pulseaudio,
#submap,
#temperature,
#tray,
#workspaces {
    background-color: #333333;
    padding: 0 3px;
}

/* clickable items ************************************************************************************ */
#battery:hover,
#clock:hover,
#cpu:hover,
#custom-lock:hover,
#custom-logoff:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#network:hover,
#tray:hover,
#workspaces button:hover {
    background-color: #666666;
}

/* leftmost items ************************************************************************************* */
#clock,
#cpu,
#custom-gear,
#pulseaudio,
#network,
#submap,
#tray {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 3px;
    padding-left: 6px;
}

/* rightmost items ************************************************************************************ */
#backlight,
#battery,
#clock,
#idle_inhibitor,
#network,
#submap,
#tray {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 3px;
    padding-right: 6px;
}

/* highlighted items ********************************************************************************** */
#idle_inhibitor.activated,
#keyboard-state > label.locked,
#submap,
#workspaces button.visible {
    background-color: #999999;
    color: #333333;
}

/* active items *************************************************************************************** */
#workspaces button.active {
    background-color: #cccccc;
}

/* alerting items ************************************************************************************* */
#custom-logoff:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#network.disconnected,
#temperature.critical,
#tray > .needs-attention,
#workspaces button.urgent {
    background-color: #eb4d4b;
}
@keyframes alert {
    to {
        background-color: #eb4d4b;
    }
}

/* interior items ************************************************************************************* */
#keyboard-state > label,
#workspaces button {
    padding: 0 3px;
}
#keyboard-state,
#workspaces {
    padding: 0;
}

/* **************************************************************************************************** */
/* custom styling ************************************************************************************* */
/* **************************************************************************************************** */

#battery.charging, #battery.plugged {
    background-color: #26A65B;
    color: #ffffff;
}

/* using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: alert;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#submap {
    font-style: italic;
}

#workspaces button {
    /* avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* if workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    padding-left: 0;
}

/* if workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    padding-right: 0;
}

/* **************************************************************************************************** */
/* todo *********************************************************************************************** */
/* **************************************************************************************************** */

#custom-media,
#mode,
#mpd,
#power-profiles-daemon,
#wireplumber {
    padding: 0 10px;
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
